.dashboard-storage {
  display: flex;
  min-height: 100vh;
  height: auto;
  
  font-family: Muli, sans-serif;
  .sidebar-storage {
    flex: 0.05;
    border-right: solid 1px #dfe9f1;
  }
  .workspace-storage {
    flex: 1.75;
    max-width: calc(100vw - 73px);
      display: flex;
      padding: 20px 0px 20px 30px;
   
  }


  
}
