.dashboard-shipping {
    display: flex;
    min-height: 100vh;
    height: auto;
    
    font-family: Muli, sans-serif;
    .sidebar-shipping {
      flex: 0.05;
      border-right: solid 1px #dfe9f1;
    }
    .workspace-shipping {
      flex: 1.75;
        display: flex;
        padding: 20px 0px 20px 30px;
     
    }
  
  
    
  }
  